*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    min-height: 100vh;
}

.logo{
    /* position: relative;
    left: 40px; */
    width: 200px;
    height: 110px;
}


.nav{
    position: relative;
    top: 35px;
    /* right: 40px; */
}

.nav-link{
    color: #525257;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:hover{
    color: #525257;
}

.landing{
    /* position: relative;
    top: 75px; */
}


.landing img{
    width: 100%;
    /* height: 400px; */
}

.landing div{
    width: 35%;
    padding: 30px 20px;
    text-align: center;
    position: relative;
    bottom: 330px;
    left: 30px;
    background-color: #cc0202;
    color: #ffffff;
}

.landing p{
    font-size: small;
    text-align: justify;
}

.tiles{
    position: relative;
    bottom: 150px;
    padding: 0 100px 0 100px;
    font-size: small;
}
.card7{
margin-left: 200px;
}

.size{
    width: 300px;
    height: 160px;
}

.tiles h3{
    /* text-align: center; */
    padding-top: 12px;
    /* position: relative; */
    /* right: 15px; */
}

.cards p{
    height: 180px;
    overflow: auto;
    text-align: justify;
    /* width: 300px; */
}
.card4 p{
    height: 180px;
    overflow: auto;
    text-align: justify;
}
.card5 p{
    height: 180px;
    overflow: auto;
    text-align: justify;
}
.card6 p{
    height: 180px;
    overflow: auto;
    text-align: justify;
}
.card7 p{
    height: 180px;
    overflow: auto;
    text-align: justify;
}
.card8 p{
    height: 180px;
    overflow: auto;
    text-align: justify;
}
.one{
    margin-top: 0;
  }

.grid{
    max-width: 1200px;
    display: -webkit-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fimg img{
    /* width: 600px;
    height: 500px; */
    max-width: 100%;
    display: inherit;
}

.ftext{
    padding: 30px 0 0 30px;
    background-color: #cc0202;
    color: #ffffff;
}

.ftext h1{
    text-align: center;
}

.ftext h3{
    padding-top: 10px;
}

.urpan{
    text-align: center;
    /* position: relative;
    right: 20px; */
}

footer{
    text-align: center;
    padding-top: 50px;
}

/* Page 2 CSS */

.page2 img{
    /* position: relative;
    top: 50px; */
    width: 100%;
    height: 500px;
    padding: 0 50px 0 50px;
    margin-top: 0;
}

.two{
    margin-top: 30px;
}
.mobile1 a{
    text-decoration: none;
    color: #525257;
}
.mobile ul li{
    list-style: circle;
    padding: 10px 0;
    font-size: 20px;
}
.right h1{
    width: 500px;
}
.right p{
    width: 500px;
    text-align: justify;
}

.left h6{
    font-weight: bold;
}
.left p{
    text-align: justify;
    padding-left: 5px;
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.scale-animation {
  display: inline-block;
  animation: scaleUpDown 3s ease-in-out infinite;
  /* remove link style */
    text-decoration: none;
    font-weight: bold;
}
/* .AG{
    font-size: ;
} */
.TW{
    color: #0b3d2e;
}

.arrow{
  position:relative;
  width:30px;
  height: 30px;
  cursor:pointer;
/*   border:solid 1px white; */
  transition:0.5s;
  overflow:hidden;
}

.arrow:hover{
/*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
      border:solid 2px white; 
    border-radius:50%;
}
.arrow:after{
  position:absolute;
  display:block;
  content:"";
  color:white;
  width: 20px;
  height: 15px;
/*   border:solid 1px;  */
  top:-1px;
  border-bottom:solid 2px;
  transform:translatex(4px);
}

.arrow:before{
  position:absolute;
  display:block;
  content:"";
  color:white;
  width: 8px;
  height: 8px;
/*   border:solid 1px;  */
  border-top:solid 2px;
  border-left:solid 2px;
  top:50%;
  left:2px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);

}
.arrow:hover:before{
 animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after{
 animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
  0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}


@keyframes aniArrow02 {
  0% {
    transform:translateX(45px);
  }
  100% {
    transform:translateX(-44px);
  }
}

@keyframes borderAni{
   0% {
    border:solid 2px white;
  }
  100% {    
    border:solid 2px white; 
    border-radius:50%;
  }
}

/* page 3 CSS */

.page3 img{
    /* position: relative;
    top: 50px; */
    width: 100%;
    height: 500px;
    padding: 0 50px 0 50px;
    margin-top: 0;
}

.three{
    margin-top: 30px;
}

.left1 img{
    width: 350px;
    height: 270px;
    position: relative;
    top: 30px;
}

.right1{
    padding-top: 82px;
    position: relative;
    right: 70px;
    width: 630px;
}
.right1 p{
    text-align: justify;
}

/* Page 4 CSS */

/* .subhash{
    position: relative;
    left: 80px;
    top: 150px;
}

.team1{
    position: relative;
    left: 380px;
    bottom: 180px;
    width: 850px;
}

.rao{
    position: relative;
    left: 80px;
    width: 230px;
    height: 240px;
}

.team2{
    position: relative;
    left: 380px;
    bottom: 240px;
    width: 850px;
}

.team3{
    position: relative;
    left: 380px;
    bottom: 240px;
    width: 850px;
} */

.team{
    margin-top: 50px;
}

.subhash{
    width: 230px;
    height: 240px;
}

.team1{
    width: 850px;
}

.rao{
    width: 230px;
    height: 240px;
}


/* page 5 CSS */

.serv{
    /* position: relative;
    top: 50px; */
    width: 100%;
    height: 500px;
    padding: 0 50px 0 50px;
    margin-top: 0;
}

.services{
    position: relative;
    top: 50px;
    left: 150px;
    width: 1050px;
}

.ser{
    position: relative;
    top: 200px;
}

/* page 6 CSS */

.contact img{
    width: 100%;
    max-height: 500px;
    padding: 0 50px 0 50px;
    margin-top: 0;
}

.address{
    position: relative;
    top: 100px;
    left: 100px;
}

.address p{
    margin: 0;
}
.address h6{
    margin: 20px 0;
}

.contact2{
    position: absolute;
    top: 920px;
    left: 750px;
}

.contact2 img{
    width: 600px;
    height: 600px;
}

/* Careers Page */

.careers img{
    width: 100%;
    height: 250px;
    padding: 0 50px 0 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.car{
    background-color: #525257;
    text-align: center;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.test-img {
    margin: 20px;
    border-radius: 100%;
    width: 5%;
}

.list li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: x-large;
    padding: 20px 0 20px 0;
    border: 3px solid #cc0202;
    /* border-style: double; */
    width: 250px;
    margin-top: 50px;
    text-align: center;
}

.list li b{
    cursor: default;
}

.list li a:link{
    text-decoration: none;
    color: #525257;
}

.list li a:visited{
    color: #525257;
}

.list li a:hover{
    cursor: pointer;
    color: #cc0202;
}

.des {
    position: relative;
    right: 70px;
    top: 140px;
}

.des h3{
    margin-bottom: 30px;
}

.des a{
    /* width: 50%; */
    margin: 30px 0 0 0;
}




@media only screen and (max-width:760px) {

    .landing img{
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }

    .landing div{
        margin: auto;
        width: 100%;
        
        text-align: center;
        position: static;
        /* bottom: 250px;
        left: 15px; */
        background-color: #cc0202;
        color: #ffffff;
    }

    .landing p{
        font-size: xx-small;
    }

    .tiles{
        position: static;
        padding: 0;
        margin-top: 20px;
    }
    .card7{
        margin-left: 0;
    }
    .grid{
        display: -webkit-flex;
        display: flex;
        /* grid-template-columns: 1fr; */
        max-width: none;
    }

    .ftext{
        /* margin-right: 20px; */
        padding: 0 10px 0 10px;
        text-align: center;
        font-size: 13px;
    }

    .ftext h1{
        font-size: 20px;
    }

    .ftext h3{
        padding-top: 5px;
        font-size: 16px;
    }

    .footer{
        font-size: 10px;
    }

    /* Page 2 */

    .page2 img{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .mobile1{
        display: -webkit-grid;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .right{
        width: auto;
    }

    /* Page 3 */

    .page3 img{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .grid{
        display: -webkit-grid;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .left1 img{
        position: static;
    }

    .right1{
        position: static;
        width: auto;
    }

    /* page 4 */

    .team1{
        width: auto;
    }

    .t1{
        padding-top: 20px;
    }

    /* page 5 */

    .serv{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .services{
        position: static;
        width: auto;
        text-align: center;
        margin-top: 30px;
        padding: 0 15px 0 15px;
    }

    .ser{
        position: static;
    }

    /* page 6 */

    .contact img{
        margin-top: 50px;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .address{
        position: static;
        /* width: auto; */
        padding-left: 15px;
    }

    .contact2{
        display: none;
    }


    
}

    /* Protfolio page */

.portfolio{
    margin: 25px 25px 0 25px;
    border: 5px solid #525257;
    min-height: 70vh;
    padding: 40px 40px 0 40px;
}

.portfolio h3{
    /* margin-bottom: 20px; */
}

.portfolio a{
    padding: 0 50px 0 20px;
}


